@page "/journalpage"
@using ClimateControlSystem.Client.PaginationNavigation
@using System.Globalization
@inject IMicroclimateService MicroclimateService

<PageTitle>Journal Page</PageTitle>

<h3>Журнал прогнозов</h3>

<AuthorizeView>
    <Authorized>
        @if (_microclimates is null || _microclimates.Count == 0)
        {
            <p>
                <em>Загрузка...</em>
            </p>
        }
        else
        {
            <table class="table-bordered" align="center">
                <thead>
                <tr>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Время измерения</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Загрузка кластера</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Использование ЦПУ</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Температура кластера</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Температура воздуха</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Влажность воздуха</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Влажность снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Сухая температура снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Влажная температура снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Скорость ветра снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Направления ветра снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Энтальпия воздуха снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Температура охлаждения</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Спрогнозированная температура</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Спрогнозированная влажность</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Точность прогноза температуры</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Точность прогноза влажности</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var record in _microclimates)
                {
                    <tr>
                        <td style="font-size:small; text-align:center">
                            @if (record.MeasurementTime.HasValue)
                            {
                                @record.MeasurementTime.Value.ToString("HH:mm:ss")
                                <br/>
                                @record.MeasurementTime.Value.ToString("dd:MM:yyyy")
                            }
                        </td>
                        <td style="font-size:small; text-align:center">@(record.ClusterLoad.HasValue ? record.ClusterLoad.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.CpuUsage.HasValue ? record.CpuUsage.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.ClusterTemperature.HasValue ? record.ClusterTemperature.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.CurrentRealTemperature.HasValue ? record.CurrentRealTemperature.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.CurrentRealHumidity.HasValue ? record.CurrentRealHumidity.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.AirHumidityOutside.HasValue ? record.AirHumidityOutside.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.AirDryTemperatureOutside.HasValue ? record.AirDryTemperatureOutside.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.AirWetTemperatureOutside.HasValue ? record.AirWetTemperatureOutside.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.WindSpeed.HasValue ? record.WindSpeed.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.WindDirection.HasValue ? record.WindDirection.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.WindEnthalpy.HasValue ? record.WindEnthalpy.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.MeanCoolingValue.HasValue ? record.MeanCoolingValue.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.PredictedFutureTemperature.HasValue ? record.PredictedFutureTemperature.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.PredictedFutureHumidity.HasValue ? record.PredictedFutureHumidity.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.PredictedTemperatureAccuracy.HasValue ? record.PredictedTemperatureAccuracy.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                        <td style="font-size:small; text-align:center">@(record.PredictedHumidityAccuracy.HasValue ? record.PredictedHumidityAccuracy.Value.ToString(CultureInfo.InvariantCulture) : string.Empty)</td>
                    </tr>
                }
                </tbody>
            </table>

            <br/>

            <ClimateControlSystem.Client.Components.PaginationComponent
                RecordsCount=@_microclimateRecordsCount
                RecordsPerPage=@RecordsPerPage
                PageChanged=@OnPageChanged/>

            <br/>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private const int RecordsPerPage = 15;

    private List<MicroclimateDTO> _microclimates;
    private int _microclimateRecordsCount;

    protected override async Task OnInitializedAsync()
    {
        _microclimateRecordsCount = await MicroclimateService.GetMicroclimatesCount();

        _microclimates = await MicroclimateService.GetMicroclimatesAsync(0, RecordsPerPage);
    }

    private async Task OnPageChanged(RecordsRequest request)
    {
        _microclimates = await MicroclimateService.GetMicroclimatesAsync(request.RecordsOffset, request.RecordsCount);
    }

}