@page "/journalpage"
@using ClimateControlSystem.Client.PaginationNavigation
@using System.Globalization
@using ClimateControlSystem.Client.Services.MicroclimateService
@inject IMicroclimateService MicroclimateService

<PageTitle>Journal Page</PageTitle>

<h3>Журнал прогнозов</h3>

<AuthorizeView>
    <Authorized>
        @if (_microclimates is null || _microclimates.Count == 0)
        {
            <p>
                <em>Загрузка...</em>
            </p>
        }
        else
        {
            <table class="table-bordered" align="center">
                <thead>
                <tr>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Время измерения</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Загрузка кластера</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Использование ЦПУ</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Температура кластера</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Температура воздуха</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Влажность воздуха</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Влажность снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Сухая температура снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Влажная температура снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Скорость ветра снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Направления ветра снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Энтальпия воздуха снаружи</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Температура охлаждения</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Спрогнозированная температура</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Спрогнозированная влажность</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Точность прогноза температуры</th>
                    <th style="word-wrap:break-word; font-size:small; text-align:center">Точность прогноза влажности</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var record in _microclimates)
                {
                    <tr>
                        <td style="font-size:small; text-align:center">
                            @if (record.TracedTime.HasValue)
                            {
                                @record.TracedTime.Value.ToString("HH:mm:ss")
                                <br/>
                                @record.TracedTime.Value.ToString("dd:MM:yyyy")
                            }
                            else
                            {
                                @MockString;
                            }
                        </td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.ClusterLoad.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.CpuUsage.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.ClusterTemperature.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.CurrentRealTemperature.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.CurrentRealHumidity.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.AirHumidityOutside.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.AirDryTemperatureOutside.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.AirWetTemperatureOutside.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.WindSpeed.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.WindDirection.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.WindEnthalpy.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Features is null ? MockString : record.Features.MeanCoolingValue.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Prediction is null ? MockString : record.Prediction.Temperature.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Prediction is null ? MockString : record.Prediction.Humidity.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Accuracy is null ? MockString : record.Accuracy.Temperature.ToString(CultureInfo.InvariantCulture))</td>
                        <td style="font-size:small; text-align:center">@(record.Accuracy is null ? MockString : record.Accuracy.Humidity.ToString(CultureInfo.InvariantCulture))</td>
                    </tr>
                }
                </tbody>
            </table>

            <br/>

            <ClimateControlSystem.Client.Components.PaginationComponent
                RecordsCount=@_microclimateRecordsCount
                RecordsPerPage=@RecordsPerPage
                PageChanged=@OnPageChanged/>

            <br/>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private const int RecordsPerPage = 15;
    private const int StartRecordsRequestCount = 0;
    private const string MockString = "-";

    private List<ForecastingDto> _microclimates;
    private int _microclimateRecordsCount;

    protected override async Task OnInitializedAsync()
    {
        _microclimateRecordsCount = await MicroclimateService.GetMicroclimatesCount();

        _microclimates = await MicroclimateService.GetMicroclimatesAsync(StartRecordsRequestCount, RecordsPerPage);
    }

    private async Task OnPageChanged(RecordsRequest request)
    {
        _microclimates = await MicroclimateService.GetMicroclimatesAsync(request.RecordsOffset, request.RecordsCount);
    }

}