@page "/predictionsjournal"
@using ClimateControlSystem.Shared.SendToClient;
@inject IClimateService ClimateService

<PageTitle>Predictions Journal</PageTitle>

<h3>Журнал прогнозов</h3>


<AuthorizeView>
    <Authorized>
        @if (ClimatesData == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th style="word-wrap:break-word; font-size:small">Время измерения</th>
                        <th style="word-wrap:break-word; font-size:small">Загрузка кластера</th>
                        <th style="word-wrap:break-word; font-size:small">Использование ЦПУ</th>
                        <th style="word-wrap:break-word; font-size:small">Температура кластера</th>
                        <th style="word-wrap:break-word; font-size:small">Текущая температура</th>
                        <th style="word-wrap:break-word; font-size:small">Текущая влажность</th>
                        <th style="word-wrap:break-word; font-size:small">Влажность снаружи</th>
                        <th style="word-wrap:break-word; font-size:small">Сухая температура снаружи</th>
                        <th style="word-wrap:break-word; font-size:small">Влажная температура снаружи</th>
                        <th style="word-wrap:break-word; font-size:small">Скорость ветра снаружи</th>
                        <th style="word-wrap:break-word; font-size:small">Направления ветра снаружи</th>
                        <th style="word-wrap:break-word; font-size:small">Энтальпия воздуха снаружи</th>
                        <th style="word-wrap:break-word; font-size:small">Температура охлаждения</th>
                        <th style="word-wrap:break-word; font-size:small">Спрогнозированная температура</th>
                        <th style="word-wrap:break-word; font-size:small">Спрогнозированная влажность</th>
                        <th style="word-wrap:break-word; font-size:small">Точность прогноза температуры</th>
                        <th style="word-wrap:break-word; font-size:small">Точность прогноза влажности</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in ClimatesData)
                    {
                        <tr>
                            <td style="font-size:small">@record.MeasurementTime.ToString("HH:mm:ss")<br/>@record.MeasurementTime.ToString("dd:MM:yyyy")</td>
                            <td>@record.ClusterLoad</td>
                            <td>@record.CpuUsage</td>
                            <td>@record.ClusterTemperature</td>
                            <td>@record.CurrentRealTemperature</td>
                            <td>@record.CurrentRealHumidity</td>
                            <td>@record.AirHumidityOutside</td>
                            <td>@record.AirDryTemperatureOutside</td>
                            <td>@record.AirWetTemperatureOutside</td>
                            <td>@record.WindSpeed</td>
                            <td>@record.WindDirection</td>
                            <td>@record.WindEnthalpy</td>
                            <td>@record.MeanCoolingValue</td>
                            <td>@record.PredictedFutureTemperature</td>
                            <td>@record.PredictedFutureHumidity</td>
                            <td>@record.PredictedTemperatureAccuracy</td>
                            <td>@record.PredictedHumidityAccuracy</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        Вы не вошли в систему
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<ClimateData> ClimatesData;

    protected override async Task OnInitializedAsync()
    {
        ClimatesData = await ClimateService.GetClimatesDataAsync(25);
    }
}